/* fornt css */
body{
    font-family: 'Poppins', sans-serif;
    background-color: white; 
}
/* fornt css end */
 .container{
     max-width: 1200px;
     margin: 0 auto;
     padding: 0 30px;
     background-color: white;
   
 }
 

 /* fast-container */
.influrncer{
    font-weight:bold ;
    font-size: 25px;
    margin-top: 70px;
    margin-left: 35px;
}
.fast-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 50px;
}
.main-box{
    padding-top: 150px;
}
.main-box h1{
    font-weight: bold;
    font-size: 50px;
}
.main-box p{
    font-weight: bold;
    font-size: 15px;
}
.main-img img{
    height: 80%;
}
.batton{
    width: 300px;
    height: 300px;
    padding: 30px;
}
 .batton a{
        color:white;
        background-color: #E02C6D;;
       
        font-size:16px;
        border-radius: 10px;
        text-decoration: none;
        font-weight: bold;
        cursor: pointer;
        box-shadow:0 4px 0  #a00c42 ;
        position: relative;
        top: 0;
}
     
.batton a:active{
        top: 2px;
        box-shadow:0 2px 0  #a00c42;
}
/* batton css */
.batton-see-more{
    margin-top: 20px;
    display: grid;
    margin-left:1020px;
}
.batton-see-more a{
      text-decoration: none;
      color: rgb(241, 40, 40);
      font-size: 20px;
      padding: 5px;
}
.batton-see-more i{
    color: #000;
}
.baton-icon i{
    color: red;
}
/* 2nd part css */
.header{
    text-align: center;
}
.main-projacts{
    display: grid;
    gap: 20px;
    grid-template-columns:repeat(3,1fr);
}
.projacts{
    width:300px;
    box-shadow: 0px 0px 5px 5px rgb(53, 166, 231);
    padding: 10px;
    margin-top: 30px;
    margin-left: 50px;
}
.projacts img{
   width:300px;
}
.star{
    color: tomato;
}
/* calander css */
.calander-toper{
    text-align: center;
    font-size: 20px;
    color: rgb(78, 25, 202);
    font-family: 700px;
    margin-top: 100px;
}
.calander{
    background-color: rgb(224, 194, 224);
}
.list ,.day{
    background-color: rgb(243, 93, 193);
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.date{
    background-color: darkorange;
    height: 50px;
}
.change{
    background-color: rgb(38, 86, 190);
}
.calander-list{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1em;
}


/* footer css */
.fotter{
    color: white; 
    padding: 30px;
    margin-top: 20px;
    text-align: center;
    background-color: #0e0d0d;
}
.footer-style{
     font-size: 30px;
     color: white;
}
/* respondive css */
@media (max-width:900px){
    .fast-container{
        grid-template-columns: 1fr;
         
    }
    .main-box h1{
        font-size: 40px;
    }
    .main-box p{
        font-size: 10px;
    }
    .main-img img{
        height: 70%;
    }
    .main-projacts{
        grid-template-columns:1fr 1fr;
    }
    .calander{
        height: 450px;
        width:600px;
    }
    .list ,.day{
        font-size: 2em;
    }

    .fotter{
        height: 170px;
       width: 500px; 
    }
    .projacts{
        width:270px;
        box-shadow: 0px 0px 3px 3px rgb(53, 166, 231);
        padding: 10px;
        margin-top: 20px;
        margin-left: 30px;
    }
    .projacts img{
       width:270px;
    }

}
@media (max-width:500px){
    .fast-container{
        grid-template-columns: 1fr;
         
    }
    .main-box h1{
        font-size: 30px;
    }
    .main-box p{
            font-size: 10px;
            
        }
    .main-img img{
            height: 50%;}


    .main-projacts{
                grid-template-columns:1fr;
         }

    .calander{
            height: 300px;
             width:400px;
    }
    .list ,.day{
         font-size: 1em;
    }
    .fotter{
         height: 170px;
        width: 400px; 
     }
    .projacts{
                width:250px;
                box-shadow: 0px 0px 1px 1px rgb(53, 166, 231);
                padding: 10px;
                margin-top: 20px;
                margin-left: 30px;
     }
     .projacts img{
               width:250px;
     }

        }
        

 
 